@import "../../styles/styles";

h1 {
   color: $blue;
}

a {
   background-color: greenyellow;
   padding: 5px 10px;
   border: 1px solid grey;
   border-radius: 10px;
   cursor: pointer;
}

a:hover {
   background-color: #d1ffa4;
}
