/*.grid {*/
/*   border: 1px solid black;*/
/*   background-color: dodgerblue;*/
/*   height: 500px;*/
/*   width: 100%;*/
/*}*/

/*.grid-item {*/
/*   float: left;*/
/*   display: inline-block;*/
/*   border: 1px solid black;*/
/*   background-color: aquamarine;*/
/*   width: 200px;*/
/*   height: 200px;*/
/*}*/

.grid {
   display: flex;
   flex-direction: column;
   border: 1px solid black;
   background-color: dodgerblue;
   height: 500px;
   width: 100%;
}

.grid-item {
   border: 1px solid black;
   background-color: aquamarine;
   width: 200px;
   height: 200px;
}
